*{
    margin: 0;
    padding: 0; 
    text-decoration: none;
}

html {
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.grid2Columns{
    display: grid;
    width: 50%;
    grid-template-columns: 2fr 2fr;
}

.fondo-inicio {
    background-image: url(./assets/outer-wilds-portada.png);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    background-color:#a7a7a7c0;
    color:#000000;
    position:fixed;
    bottom:0px;
    right:0px;
    left:0px;
    text-align: center;
    padding:0.10rem 0;
}

.iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-iframe {
    display: flex;
    justify-content: space-around;
}

/*Media Querys---------------------------------(768px)*/

@media screen and (max-width: 767px) {
    .logo {
        display: none;
    }

    .responsive-navbar {
        width: 100%;
    }
    
    .grid2Columns {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .fondo-inicio {
        background-image: url(./assets/outer_wilds_wallpaper.png);
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .footer {
        position: relative;
        text-align: center;
        padding:1em 0;
    }
    
    .container-iframe {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    iframe {
        height: 500px;
        width: 700px;
    }
}

@media screen and (min-width: 769px) {
    .logo-icon {
        display: none;
    }
}

/*----------------------------------------------------*/

/*Media Querys---------------------------------(480px)*/

@media screen and (max-width: 480px){
    .formContainer{
        margin-left: 30%;
        font-size: 160%;
        display: flex;
        justify-content: center;
        justify-items: center;
    }   

    .container-iframe {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    iframe {
        height: 275px;
        width: 350px;
    }
}

/*----------------------------------------------------*/

.navbar {
    --bs-navbar-hover-color: rgb(247 91 4);
    --bs-navbar-brand-hover-color: rgb(247 91 4);
    --bs-navbar-toggler-border-color: rgb(247 91 4);
}

.nav-link {
    color: #ff8a31;
}
.navbar-brand {
    color: #ff8a31;
}

.navbar-toggler {
    color: #ff8a31;
}

.padding-navbar {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.25rem;
}

.paragraph-title{
    color:#ff8a31;
    margin: 20px;
    font-size: 2rem;
}

.paragraph{
    color:#ff8a31;
    margin: 20px;
    font-size: 1.5rem;
    width: auto;
}

label{
    color:#ff994a;
    display: flex;
}